<html lang="en">


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

<!-- CDN BULLSHIT !-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css"></script>
	
</head>

<style>
.center {
    text-align: center
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
</style>

<body>
	<center>
		<a class="btn btn-outline-primary" class="center" href="https://www.youtube.com">YouTube Link</a>
	</center>
	
	
	<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
</body>